* @snowflake-eng/snowcli @snowflake-eng/client-side-interfaces

# Apps plugin
/src/snowflake/cli/_plugins/apps/ @snowflake-eng/snowcli @snowflake-eng/client-side-interfaces @snowflake-eng/native-apps
/tests/apps/ @snowflake-eng/snowcli @snowflake-eng/client-side-interfaces @snowflake-eng/native-apps
/tests_integration/apps/ @snowflake-eng/snowcli @snowflake-eng/client-side-interfaces @snowflake-eng/native-apps
/tests_integration/test_data/projects/snowflake_apps/ @snowflake-eng/snowcli @snowflake-eng/client-side-interfaces @snowflake-eng/native-apps
/tests/__snapshots__/ @snowflake-eng/snowcli @snowflake-eng/client-side-interfaces @snowflake-eng/native-apps
/tests_integration/__snapshots__/ @snowflake-eng/snowcli @snowflake-eng/client-side-interfaces @snowflake-eng/native-apps

# Nativeapp plugin
/src/snowflake/cli/_plugins/nativeapp/ @snowflake-eng/snowcli @snowflake-eng/client-side-interfaces @snowflake-eng/native-apps
/tests/nativeapp/ @snowflake-eng/snowcli @snowflake-eng/client-side-interfaces @snowflake-eng/native-apps
/tests_integration/nativeapp/ @snowflake-eng/snowcli @snowflake-eng/client-side-interfaces @snowflake-eng/native-apps

# Release notes
/RELEASE-NOTES.md @snowflake-eng/snowcli @snowflake-eng/client-side-interfaces @snowflake-eng/native-apps
