* @snowflakedb/snowcli

# Native Apps Owners
src/snowflake/cli/plugins/nativeapp/ @snowflakedb/nade
tests/nativeapp/ @snowflakedb/nade
tests_integration/test_nativeapp.py @snowflakedb/nade

# Project Definition Owners
src/snowflake/cli/api/project/schemas/native_app.py @snowflakedb/nade
tests/project/ @snowflakedb/snowcli @snowflakedb/nade
