repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.1.0
      hooks:
        -   id: trailing-whitespace
        -   id: end-of-file-fixer
            exclude: license_header.txt
        -   id: check-yaml
            exclude: .github/repo_meta.yaml
        -   id: debug-statements
        -   id: check-ast
  -   repo: https://github.com/asottile/reorder_python_imports
      rev: v3.9.0
      hooks:
      -   id: reorder-python-imports
          args: [--py37-plus, --add-import, 'from __future__ import annotations']
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.3.0
    hooks:
      - id: add-trailing-comma
        args: [ --py36-plus ]
  -   repo: https://github.com/asottile/pyupgrade
      rev: v3.2.2
      hooks:
      -   id: pyupgrade
          args: [--py37-plus]
  -   repo: https://github.com/pre-commit/mirrors-autopep8
      rev: v2.0.0
      hooks:
      -   id: autopep8
  -   repo: https://github.com/PyCQA/flake8
      rev: 5.0.4
      hooks:
      -   id: flake8
  -   repo: https://github.com/pre-commit/mirrors-mypy
      rev: v0.990
      hooks:
      -   id: mypy
          additional_dependencies: [types-all]
