[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "snowflake-cli-labs"
author = "Snowflake, Inc"
license = "Apache-2.0"
license_files = ["LICENSE"]
dynamic = ["version"]
requires-python = ">=3.8"
description = "Snowflake CLI"
readme = "README.md"
dependencies = [
  "coverage==7.2.7",
  "jinja2==3.1.2",
  "rich==13.4.2",
  "requests==2.28.1",
  "requirements-parser==0.5.0",
#  "snowflake-connector-python==3.0.4",
  "snowflake-connector-python-nightly==2023.6.24",
  "tomlkit==0.11.8",
  "typer==0.9.0",
]
classifiers = [
  "Development Status :: 3 - Alpha",
  "Environment :: Console",
  "Intended Audience :: Developers",
  "Intended Audience :: Information Technology",
  "Intended Audience :: System Administrators",
  "License :: OSI Approved :: Apache Software License",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: SQL",
  "Topic :: Database"
]

[project.optional-dependencies]
dev = [
  "pre-commit==3.3.3",
  "pytest==7.4.0",
  "syrupy==4.0.4",
  "tox==4.6.3",
]

[project.urls]
"Source code" = "https://github.com/Snowflake-Labs/snowcli"
"Bug Tracker" = "https://github.com/Snowflake-Labs/snowcli/issues"

[project.scripts]
snow = "snowcli.cli:app"

[tool.hatch.version]
path = "src/snowcli/__about__.py"

[tool.hatch.build.targets.sdist]
exclude = [
  "/.github",
]

[tool.hatch.build.targets.wheel]
packages = ["src/snowcli", "src/templates"]

[tool.ruff]
line-length = 88
select = [
    # isort
    "I001"
]

[tool.pytest.ini_options]
addopts = "-m 'not integration'"
markers = [
  "integration: mark test as integration test",
]
