import contextlib
import sys

import snowflake.app.context as ctx
from snowflake.app.app_root import AppRoot

ctx._project_path = r"{{project_root}}"

try:
    import importlib
    with contextlib.redirect_stdout(None):
        with contextlib.redirect_stderr(None):
            __snowflake_internal_spec = importlib.util.spec_from_file_location("<string>", r"{{py_file}}")
            __snowflake_internal_module = importlib.util.module_from_spec(__snowflake_internal_spec)
            __snowflake_internal_spec.loader.exec_module(__snowflake_internal_module)
except Exception as exc:  # Catch any error
    print("An exception occurred while executing file: ", exc, file=sys.stderr)
    sys.exit(1)


import json
print(json.dumps(AppRoot._all_collected()))
