{{ title }}

Project definition structure
===============================================================================

.. code-block::

{% for field in fields %}
{{ "  "*(field["indents"] + 1) + ("- " if field["item_index"] == 1 else "") + ("  " if field["item_index"] > 1 else "") + field["name"] }}: {% if field["add_types"] %}<{{ field["types"] }}>{% endif %}
{%- endfor %}


Project definition properties
===============================================================================
{%- if fields %}
The following table describes the project definition properties.

.. list-table:: Project definition properties
  :widths: 30 70
  :header-rows: 1

  * - Property
    - Definition
{% for field in fields %}
  * - **{{field["path"]}}**

      *{{"Required" if field["required"] else "Optional"}}*{{ (", *"+field["types"]+"*") if field["types"]}}

    - {{field["title"]}}
{%+ endfor %}
{% else %}

None

{% endif -%}
