{{ title }}

Structure
===============================================================================

.. code-block::

{% for field in fields %}
{{ "  "*(field["indents"] + 1) + ("- " if field["item_index"] == 1 else "") + ("  " if field["item_index"] > 1 else "") + field["name"] }}: {% if not field["is_model"] %}<{{ field["types"] }}>{% endif %}
{%- endfor %}


Fields
===============================================================================

{%- if fields %}

{% for field in fields %}
{{field["path"]}}
    {{field["title"]}}

    ``{{"Required" if field["required"] else "Optional"}}``{{ (", ``"+field["types"]+"``") if field["types"]}}
{%+ endfor %}
{% else %}

None

{% endif -%}
