{%- macro render_option_list(params, show_default=true) -%}
<dl>
{%- for param in params if not param.hidden %}
{%- if param.is_flag %}
<dt>`
    {%- for p in param.opts %}{{ p }}{{ ", " if not loop.last }}{% endfor %}
    {%- if param.secondary_opts|length > 0  %} {{ "/ " }}{{ param.secondary_opts[0] }}{% endif -%}
`</dt>
{%- elif param.type.name == "choice" %}
<dt>`
    {%- for p in param.opts %}{{ p }}{{ ", " if not loop.last }}{% endfor %} {{ param.make_metavar() }}`</dt>
{%- else %}
<dt><code className="samp">
    {%- for p in param.opts %}{{ p }}{{ ", " if not loop.last }}{% endfor %} <em>{{ param.make_metavar() | mdx_escape }}</em></code></dt>
{%- endif %}
<dd>

{% set help_text = param.help | collapse_whitespace %}{% if help_text %}{{ help_text | mdx_escape }}{% if not help_text.endswith('.') %}.{% endif %}{% if show_default and param.default is not none and param.default != "" %} Default: {{ param.default | mdx_escape }}.{% endif %}{% else %}TBD{% endif %}

</dd>
{%- endfor %}
</dl>
{%- endmacro -%}
