certifi==2025.1.31
GitPython==3.1.44
jinja2==3.1.6
packaging
pip
pluggy==1.5.0
pydantic==2.11.2
PyYAML==6.0.2
requests==2.32.3
requirements-parser==0.11.0
rich==14.0.0
setuptools==78.1.0
snowflake-connector-python[secure-local-storage]==3.14.0
snowflake-snowpark-python>=1.15.0,<1.26.0;python_version < "3.12"
snowflake.core==1.2.0; python_version < "3.12"
tomlkit==0.13.2
typer==0.15.2
urllib3>=1.24.3,<2.4
coverage==7.8.0
pre-commit>=3.5.0
pytest==8.3.5
pytest-randomly==3.16.0
pytest-httpserver==1.1.2
syrupy==4.9.1
factory-boy==3.3.3
Faker==37.1.0
