<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package Name="Snowflake CLI" Language="1033" Version="$(var.SnowflakeCLIVersion)" Manufacturer="Snowflake, Inc." UpgradeCode="42280567-AE10-4184-8BB4-F98F59519CB2" InstallerVersion="405">
    <SummaryInformation Manufacturer="Snowflake, Inc." />
    <WixVariable Id="WixUIDialogBmp" Value="scripts\packaging\win\snowflake_msi_background.png" />
    <WixVariable Id="WixUIBannerBmp" Value="scripts\packaging\win\snowflake_msi_banner.png" />
    <Media Id="1" Cabinet="snow.cab" EmbedCab="yes" />
    <MajorUpgrade AllowDowngrades="yes" />
      <Files Include="..\..\..\dist\snow\**" />
    <Icon Id="icon.ico" SourceFile="scripts\packaging\win\snowflake_msi.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="ARPHELPLINK" Value="https://docs.snowflake.net/manuals/user-guide/snowflake-cli.html" />
    <Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />
    <Property Id="ARPURLINFOABOUT" Value="https://snowflake.com/" />
    <Property Id="ApplicationFolderName" Value="Snowflake CLI" />
    <Property Id="WixAppFolder" Value="WixUISupportPerUser" />
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" />
    </StandardDirectory>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
  </Package>
</Wix>
