name: Build

on:
  pull_request:
    branches:
      - main
  push:
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10
    branches:
      - "**"

jobs:

  lint:
    name: Check linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install pre-commit
        run: python -m pip install pre-commit
      - name: Run pre-commit
        run: pre-commit run --all-files

  build:
    name: Build packages
    runs-on: ${{ matrix.os }}
    needs: lint
    strategy:
      matrix:
        include:
          - os: macos-latest
            TARGET: macos
            CMD_BUILD: >
              pyinstaller snowcli.spec &&
              cd ./dist/snow &&
              zip -g ../../snow.zip -r .
            ARTIFACT_NAME: snow-${{ github.ref_name }//\//-}-darwin
            PATH: snow.zip
          - os: windows-latest
            TARGET: windows
            CMD_BUILD: pyinstaller snowcli.spec
            ARTIFACT_NAME: snow-${{ github.ref_name }//\//-}-windows
            PATH: ./dist/snow/
          - os: ubuntu-latest
            TARGET: linux
            CMD_BUILD: >
              pyinstaller snowcli.spec &&
              cd ./dist/snow &&
              zip -g ../../snow.zip -r .
            ARTIFACT_NAME: snow-${{ github.ref_name }//\//-}-linux
            PATH: snow.zip
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -U pyinstaller
      - name: Build with pyinstaller for ${{matrix.TARGET}}
        run: ${{matrix.CMD_BUILD}}
      - name: Archive python artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{matrix.ARTIFACT_NAME}}
          path: ${{matrix.PATH}}
          retention-days: 7
