name: Build

on:
  pull_request:
    branches:
      - "**"
  push:
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10
    branches:
      - main
      - features/*

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  define-matrix:
    uses: ./.github/workflows/matrix.yaml
  build:
    needs: define-matrix
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        os: ${{ fromJSON(needs.define-matrix.outputs.os) }}
        python-version: ${{ fromJSON(needs.define-matrix.outputs.python) }}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Snowflake CLI
        run: |
          python -m pip install --upgrade pip
          pip install .
          pip check
          snow --help
      - name: Install dev dependencies
        run: |
          pip install ".[development]"
          pip check
