name: Testing

on:
  pull_request:
    branches:
      - "**"
  push:
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10
    branches:
      - main
      - features/*

env:
  TERM: unknown # Disables colors in rich

jobs:
  define-matrix:
    uses: ./.github/workflows/matrix.yaml
  tests:
    needs: define-matrix
    strategy:
      fail-fast: true
      matrix:
        os: ${{ fromJSON(needs.define-matrix.outputs.os) }}
        python-version: ${{ fromJSON(needs.define-matrix.outputs.python) }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install hatch
        run: |
          pip install -U hatch uv
          export HATCH_ENV_TYPE_VIRTUAL_UV_PATH=$(which uv)
          hatch env create default
      - name: Test with hatch
        run: hatch run test-cov
      - uses: codecov/codecov-action@0565863a31f2c772f9f0395002a31e3f06189574
