name: Testing

on:
  pull_request:
    branches:
      - "**"
  push:
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10
    branches:
      - main
      - features/*

env:
  TERM: unknown  # Disables colors in rich

permissions:
  contents: read

jobs:
  define-matrix:
    uses: ./.github/workflows/matrix.yaml
  tests:
    needs: define-matrix
    strategy:
      fail-fast: true
      matrix:
        os: ${{ fromJSON(needs.define-matrix.outputs.os) }}
        python-version: ${{ fromJSON(needs.define-matrix.outputs.python) }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install hatch
        run: |
          pip install -U hatch
          hatch env create default
      - name: Test with hatch
        run: hatch run test-cov
      - uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24
