# Manual workflow to run tests with Universal Driver
name: Run UD tests (manual)

on:
  workflow_dispatch:
    inputs:
      ud-branch:
        description: 'Branch of universal-driver repo to use'
        required: false
        default: 'main'
        type: string
      python-version:
        description: 'Python version to use'
        required: false
        default: '3.12'
        type: choice
        options:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
      os:
        description: 'Operating system to run on'
        required: false
        default: 'ubuntu-latest'
        type: choice
        options:
          - 'ubuntu-latest'
          - 'macos-latest'
          - 'windows-latest'

permissions:
  contents: read

jobs:
  ud-test:
    name: UD Test ${{ inputs.os }}-py${{ inputs.python-version }} (${{ inputs.ud-branch }})
    runs-on: ${{ inputs.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python-version }}

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Install required tools
        run: |
          python -m pip install -U pip
          pip install click==8.2.1 hatch
          hatch --version

      - name: Run UD tests
        run: |
          hatch config set dirs.env.virtual .hatch
          hatch run ud:check
        env:
          GH_TOKEN: ${{ secrets.SNOWFLAKE_GITHUB_TOKEN }}
          PYTHON_VERSION: ${{ inputs.python-version }}
          UD_BRANCH: ${{ inputs.ud-branch }}
          TERM: unknown
          PYTEST_ADDOPTS: --color=yes --tb=short -v
          SNOWFLAKE_CONNECTIONS_INTEGRATION_AUTHENTICATOR: SNOWFLAKE_JWT
          SNOWFLAKE_CONNECTIONS_INTEGRATION_HOST: ${{ secrets.SNOWFLAKE_HOST }}
          SNOWFLAKE_CONNECTIONS_INTEGRATION_USER: ${{ secrets.SNOWFLAKE_USER }}
          SNOWFLAKE_CONNECTIONS_INTEGRATION_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
          SNOWFLAKE_CONNECTIONS_INTEGRATION_DATABASE: ${{ secrets.SNOWFLAKE_DATABASE }}
          SNOWFLAKE_CONNECTIONS_INTEGRATION_PRIVATE_KEY_RAW: ${{ secrets.SNOWFLAKE_PRIVATE_KEY_RAW }}
        shell: bash
